* {
  color: black;
}

body {
  background-image: linear-gradient(yellow, darkorange);
  background-repeat: no-repeat;
}

footer div button {
  border: 2px solid black;
}

div#info button,
div#adjust button {
  color: black;
}

div#line {
  border-top: solid black;
}
