@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Red Hat Mono', monospace;
  font-size: 2vw;
  color: aliceblue;
  /* border: 1px solid red; */
}

body {
  background-color: darkslategrey;
  min-height: 30rem;
}

header {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header h2 {
  font-size: 3vw;
}

main {
  justify-content: center;
  /* border: 1px solid black; */
  min-height: 10rem;
}

main div {
  display: flex;
  justify-content: center;
}

main div#three {
  width: 5%;
  margin-left: 47.5%;
  margin-right: 47.5%;
}

main div span#input {
  margin: 0.2rem;
  margin-bottom: 0;
  width: 100%;
  background-color: transparent;
  border: 0;
  text-align: center;
  outline: none;
}

footer {
  margin-top: 1rem;
  /* border: 1px solid black; */
}

footer div {
  display: flex;
  justify-content: center;
}

footer div button {
  margin: 0.5rem;
  padding: 0.3rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  border-radius: 0.5rem;
}

footer div i {
  margin: 0.5rem;
  margin-top: 0.7rem;
}

div#info,
div#adjust {
  background-color: rgb(55, 55, 55);
  position: relative;
  border-radius: 1rem;
  width: 94%;
  margin: 3%;
  margin-top: -16rem;
  height: 5.5rem;
}

div#info button,
div#adjust button {
  color: aliceblue;
  background-color: transparent;
  margin: 1rem;
}

div#info p,
div#adjust p {
  margin: 0.5rem;
}

div#line {
  border-top: 1px solid white;
  width: 1%;
  margin: 0.2%;
  margin-top: 0;
}
