@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Red Hat Mono', monospace;
  font-size: 2vw;
  color: aliceblue;
  /* border: 1px solid red; */
}

body {
  background-color: darkslategrey;
  min-height: 30rem;
}

header {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header h2 {
  font-size: 3vw;
}

main {
  display: flex;
  justify-content: center;
}

main div {
  display: flex;
  justify-content: center;
}

main div input {
  margin: 0.2rem;
  width: 1.5%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid aliceblue;
}
