* {
  color: greenyellow;
}

body {
  background-color: black;
}

footer div button {
  border: 2px solid greenyellow;
}

div#info button,
div#adjust button {
  color: black;
}

div#line {
  border-top: solid greenyellow;
}
