@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Red Hat Mono', monospace;
  font-size: 2vw;
  /* border: 1px solid green; */
}

body {
  background-image: linear-gradient(orange, grey);
  min-height: 30rem;
}
